body{
    margin: 0;
    padding: 0;
}
.gmail{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: 55px;
}
.google{
    display: flex;
    padding: 50px 50px 50px 350px;
    margin-bottom: 250px;
}
.email{
    margin: 10px 10px 10px 10px;
    align-items: center;
    justify-content: center;
}
.apps{
    margin: 10px 10px 10px 10px;
    height: 40px;
    width: 60px;
     
}
.d.pel{

    margin-right: 120px;
    height:40px ;
    width: 60px;
}
.imagem{
    margin: 10px 10px 10px 10px;
}
